.header-main{
    display: flex;
    margin-bottom: 30px;
}
.logo-link{
    box-shadow: none;
    text-decoration: none;
    color: inherit;
}
.logo-img{
    position: absolute;
    margin-right: 20px;
    margin-bottom: 0;
    min-width: 50;
    height: 70px;
}

@media only screen and (max-width: 445px) {
    .logo-img {
        display: none;
    }

}
.header-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
.nav-ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;

}
.nav-li{
    display: flex;
    justify-content: center;
    align-items: center;

}
.li-h1{
    display: flex;
    font-size: 20px;
    font-weight: 300;
                  margin-bottom: 0;
                  margin-top: 0;
}
.li-link{
    padding: 20px;
    box-shadow: none;
                    text-decoration: none;
                    color: inherit;
}