body{
    margin:0;
    padding:0;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
  }

a {
    text-decoration: none;
    box-shadow: none;
}

.client-list li{
  list-style-type: none;
  margin-bottom: 0;
}

.contact-list a{
  color: #333;
}


.contact-list a svg{
  color: #333;
}

.contact-list a:hover{
  color: #ff59b4;
}


.contact-list li {
  text-align: center;
  list-style-type: none;
}

.contact-list li:hover{
 color: #ff59b4;
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item svg{
  padding-right: 4px;
  font-size: 23px;
}

ul, ol{
  margin-left: 0;
}